<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Probis Operasi & Produksi</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Probis Operasi &amp; Produksi</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7cec1984bb8a4790b5f2eeaa84777784.png" alt="Probis Operasi & Produksi" usemap="#id-7cec1984bb8a4790b5f2eeaa84777784map"/>
			   <map name="id-7cec1984bb8a4790b5f2eeaa84777784map">
				  		<area shape="rect" coords="330,24,450,79" href="../views/id-5757b3d0a21a4fb1965bcb50db7e6373.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1318,1342,1354,1402" href="../elements/id-2b79cfcb9d284bed96e5ce742b827a3a.html"  target="element">
				  		<area shape="rect" coords="1918,166,2075,227" href="../elements/id-765cb3f288924107b1e1c50098aa5dfc.html"  target="element">
				  				<area shape="rect" coords="1966,310,2087,455" href="../elements/id-d71411e7eaf44108a1a30cc5f51f19cd.html"  target="element">
				  				<area shape="rect" coords="1822,310,1943,455" href="../elements/id-121e29f7e1bf491aaa88e04d4344900d.html"  target="element">
				  				<area shape="rect" coords="1666,310,1787,455" href="../elements/id-6a271deb96f34142ad7ace1802f05882.html"  target="element">

				  		<area shape="rect" coords="1654,238,2099,491" href="../elements/id-846bdfa105af4664a39a7665ed7a8fa4.html"  target="element">
				  				<area shape="rect" coords="1426,334,1583,703" href="../elements/id-b196c060ba0e4797a72cb13c331bc9b5.html"  target="element">
				  				<area shape="rect" coords="1186,322,1355,703" href="../elements/id-af8d0ebf027c4969933714fc18b97726.html"  target="element">
				  				<area shape="rect" coords="946,321,1115,704" href="../elements/id-60badbb1763749d7b12b99d63456e391.html"  target="element">
				  				<area shape="rect" coords="670,317,875,702" href="../elements/id-808d9037b7e44e1e8a0bbaf9cbf57527.html"  target="element">
				  				<area shape="rect" coords="418,312,599,707" href="../elements/id-7136f0b6285540728dfddb5de1576047.html"  target="element">

				  		<area shape="rect" coords="370,250,1607,731" href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html"  target="element">
				  				<area shape="rect" coords="34,454,274,491" href="../views/id-a20872e99a9d4945a1f3d7b36f4a2f12.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,406,274,443" href="../views/id-9ac473f0d7f44bddbd427005a67990f4.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,358,274,394" href="../views/id-e5910fc807e14b5681736552f688f269.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,310,274,346" href="../views/id-36bd58a73a2149ea852f6857728650ee.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="10,262,299,515" href="../elements/id-c6ca369b73794bfaa2fb35adc7139f1f.html"  target="element">
				  		<area shape="rect" coords="766,10,935,167" href="../elements/id-3abed65d13b8406c9b3174c9742f8e08.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3abed65d13b8406c9b3174c9742f8e08.html" target="element"> Manajamen Operasi Pabrik </a> </td>
											    <td> <a href="../elements/id-3abed65d13b8406c9b3174c9742f8e08.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c6ca369b73794bfaa2fb35adc7139f1f.html" target="element"> &lt;&lt;PKG&gt;&gt; Merencanakan Produksi </a> </td>
											    <td> <a href="../elements/id-c6ca369b73794bfaa2fb35adc7139f1f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-36bd58a73a2149ea852f6857728650ee.html" target="view"> 1. Perencanaan Produksi </a> </td>
													    <td> <a href="../views/id-36bd58a73a2149ea852f6857728650ee.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-e5910fc807e14b5681736552f688f269.html" target="view"> 2. Proses Produksi </a> </td>
													    <td> <a href="../views/id-e5910fc807e14b5681736552f688f269.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-9ac473f0d7f44bddbd427005a67990f4.html" target="view"> 3. Menangani / memindahkan Produksi </a> </td>
													    <td> <a href="../views/id-9ac473f0d7f44bddbd427005a67990f4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-a20872e99a9d4945a1f3d7b36f4a2f12.html" target="view"> 4. Mengendalikan Hasil Produksi </a> </td>
													    <td> <a href="../views/id-a20872e99a9d4945a1f3d7b36f4a2f12.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element"> &lt;&lt;PKG&gt;&gt; Memproduksi </a> </td>
											    <td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7136f0b6285540728dfddb5de1576047.html" target="element"> &lt;&lt;PKG&gt;&gt; Memenuhi Bahan Baku </a> </td>
													    <td> <a href="../elements/id-7136f0b6285540728dfddb5de1576047.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-808d9037b7e44e1e8a0bbaf9cbf57527.html" target="element"> &lt;&lt;PKG&gt;&gt; Menjadwalkan Produksi </a> </td>
													    <td> <a href="../elements/id-808d9037b7e44e1e8a0bbaf9cbf57527.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60badbb1763749d7b12b99d63456e391.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengeksekusi Produksi </a> </td>
													    <td> <a href="../elements/id-60badbb1763749d7b12b99d63456e391.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af8d0ebf027c4969933714fc18b97726.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi </a> </td>
													    <td> <a href="../elements/id-af8d0ebf027c4969933714fc18b97726.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b196c060ba0e4797a72cb13c331bc9b5.html" target="element"> &lt;&lt;PKG&gt;&gt; MEC &amp; Pelaporan Bulanan </a> </td>
													    <td> <a href="../elements/id-b196c060ba0e4797a72cb13c331bc9b5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-846bdfa105af4664a39a7665ed7a8fa4.html" target="element"> &lt;&lt;PKG&gt;&gt;Menangani / memindahkan Produksi </a> </td>
											    <td> <a href="../elements/id-846bdfa105af4664a39a7665ed7a8fa4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6a271deb96f34142ad7ace1802f05882.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengeksekusi Produksi (copy) </a> </td>
													    <td> <a href="../elements/id-6a271deb96f34142ad7ace1802f05882.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-121e29f7e1bf491aaa88e04d4344900d.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi (copy) </a> </td>
													    <td> <a href="../elements/id-121e29f7e1bf491aaa88e04d4344900d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d71411e7eaf44108a1a30cc5f51f19cd.html" target="element"> &lt;&lt;PKG&gt;&gt; MEC &amp; Pelaporan Bulanan (copy) </a> </td>
													    <td> <a href="../elements/id-d71411e7eaf44108a1a30cc5f51f19cd.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-765cb3f288924107b1e1c50098aa5dfc.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengendalikan Hasil Produksi) </a> </td>
											    <td> <a href="../elements/id-765cb3f288924107b1e1c50098aa5dfc.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b79cfcb9d284bed96e5ce742b827a3a.html" target="element"> Business Actor </a> </td>
											    <td> <a href="../elements/id-2b79cfcb9d284bed96e5ce742b827a3a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-5757b3d0a21a4fb1965bcb50db7e6373.html" target="view"> Model Bisnis PKG </a> </td>
											    <td> <a href="../views/id-5757b3d0a21a4fb1965bcb50db7e6373.html" target="view" class="i18n-viewpoint-value_stream"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d2a8f91b1dd44e228784599c6b5da998.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2a8f91b1dd44e228784599c6b5da998.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3abed65d13b8406c9b3174c9742f8e08.html" target="element"> Manajamen Operasi Pabrik </a> </td>
																		<td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element"> &lt;&lt;PKG&gt;&gt; Memproduksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f26c93d024124a3db25f97ccf0dc5f38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f26c93d024124a3db25f97ccf0dc5f38.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3abed65d13b8406c9b3174c9742f8e08.html" target="element"> Manajamen Operasi Pabrik </a> </td>
																		<td> <a href="../elements/id-c6ca369b73794bfaa2fb35adc7139f1f.html" target="element"> &lt;&lt;PKG&gt;&gt; Merencanakan Produksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d916cdf8fc8f4a2ba43b11cca1fbb814.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d916cdf8fc8f4a2ba43b11cca1fbb814.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3abed65d13b8406c9b3174c9742f8e08.html" target="element"> Manajamen Operasi Pabrik </a> </td>
																		<td> <a href="../elements/id-846bdfa105af4664a39a7665ed7a8fa4.html" target="element"> &lt;&lt;PKG&gt;&gt;Menangani / memindahkan Produksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd2abf839d5e425f811fc80eb5c90724.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd2abf839d5e425f811fc80eb5c90724.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3abed65d13b8406c9b3174c9742f8e08.html" target="element"> Manajamen Operasi Pabrik </a> </td>
																		<td> <a href="../elements/id-765cb3f288924107b1e1c50098aa5dfc.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengendalikan Hasil Produksi) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-89eb3c12cd31434280b38ffaa179cc92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89eb3c12cd31434280b38ffaa179cc92.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element"> &lt;&lt;PKG&gt;&gt; Memproduksi </a> </td>
																		<td> <a href="../elements/id-7136f0b6285540728dfddb5de1576047.html" target="element"> &lt;&lt;PKG&gt;&gt; Memenuhi Bahan Baku </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d2aefc12e2f46c0942268e21a0ac5a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d2aefc12e2f46c0942268e21a0ac5a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element"> &lt;&lt;PKG&gt;&gt; Memproduksi </a> </td>
																		<td> <a href="../elements/id-808d9037b7e44e1e8a0bbaf9cbf57527.html" target="element"> &lt;&lt;PKG&gt;&gt; Menjadwalkan Produksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e9e6be278f244ae809577235a6e6c19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e9e6be278f244ae809577235a6e6c19.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element"> &lt;&lt;PKG&gt;&gt; Memproduksi </a> </td>
																		<td> <a href="../elements/id-60badbb1763749d7b12b99d63456e391.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengeksekusi Produksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05bfc4c7efbe46138db1e169fd138491.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05bfc4c7efbe46138db1e169fd138491.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element"> &lt;&lt;PKG&gt;&gt; Memproduksi </a> </td>
																		<td> <a href="../elements/id-af8d0ebf027c4969933714fc18b97726.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4318c77825e44d358ea6c0f40cfd1051.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4318c77825e44d358ea6c0f40cfd1051.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47551b8ff3b74593a9a7c6e6aeb5b4a9.html" target="element"> &lt;&lt;PKG&gt;&gt; Memproduksi </a> </td>
																		<td> <a href="../elements/id-b196c060ba0e4797a72cb13c331bc9b5.html" target="element"> &lt;&lt;PKG&gt;&gt; MEC &amp; Pelaporan Bulanan </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e66a196719464a81bfd7daf2131449e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e66a196719464a81bfd7daf2131449e8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7136f0b6285540728dfddb5de1576047.html" target="element"> &lt;&lt;PKG&gt;&gt; Memenuhi Bahan Baku </a> </td>
																				<td> <a href="../elements/id-808d9037b7e44e1e8a0bbaf9cbf57527.html" target="element"> &lt;&lt;PKG&gt;&gt; Menjadwalkan Produksi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-505775f8f00f4fa7988f8af1d678a9db.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-505775f8f00f4fa7988f8af1d678a9db.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-808d9037b7e44e1e8a0bbaf9cbf57527.html" target="element"> &lt;&lt;PKG&gt;&gt; Menjadwalkan Produksi </a> </td>
																				<td> <a href="../elements/id-60badbb1763749d7b12b99d63456e391.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengeksekusi Produksi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9dba0d4f86b548b980e18f6a97be8e67.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9dba0d4f86b548b980e18f6a97be8e67.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60badbb1763749d7b12b99d63456e391.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengeksekusi Produksi </a> </td>
																				<td> <a href="../elements/id-af8d0ebf027c4969933714fc18b97726.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5d51d2efe95c4d62a45dc300d07c3303.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d51d2efe95c4d62a45dc300d07c3303.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-af8d0ebf027c4969933714fc18b97726.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi </a> </td>
																				<td> <a href="../elements/id-b196c060ba0e4797a72cb13c331bc9b5.html" target="element"> &lt;&lt;PKG&gt;&gt; MEC &amp; Pelaporan Bulanan </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0478166bfec0429c93213b9849eebfc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0478166bfec0429c93213b9849eebfc6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-846bdfa105af4664a39a7665ed7a8fa4.html" target="element"> &lt;&lt;PKG&gt;&gt;Menangani / memindahkan Produksi </a> </td>
																		<td> <a href="../elements/id-6a271deb96f34142ad7ace1802f05882.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengeksekusi Produksi (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28a49fab0bcf419eaaea3c9eb38aef1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28a49fab0bcf419eaaea3c9eb38aef1a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-846bdfa105af4664a39a7665ed7a8fa4.html" target="element"> &lt;&lt;PKG&gt;&gt;Menangani / memindahkan Produksi </a> </td>
																		<td> <a href="../elements/id-121e29f7e1bf491aaa88e04d4344900d.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba39376f065d4b67a63375cd6af16ca4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba39376f065d4b67a63375cd6af16ca4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-846bdfa105af4664a39a7665ed7a8fa4.html" target="element"> &lt;&lt;PKG&gt;&gt;Menangani / memindahkan Produksi </a> </td>
																		<td> <a href="../elements/id-d71411e7eaf44108a1a30cc5f51f19cd.html" target="element"> &lt;&lt;PKG&gt;&gt; MEC &amp; Pelaporan Bulanan (copy) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c1a5333c5882487faeb6d379be1d4454.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c1a5333c5882487faeb6d379be1d4454.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a271deb96f34142ad7ace1802f05882.html" target="element"> &lt;&lt;PKG&gt;&gt; Mengeksekusi Produksi (copy) </a> </td>
																				<td> <a href="../elements/id-121e29f7e1bf491aaa88e04d4344900d.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi (copy) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1b18d9b522964c618b03aa3c32ac0e58.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b18d9b522964c618b03aa3c32ac0e58.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-121e29f7e1bf491aaa88e04d4344900d.html" target="element"> &lt;&lt;PKG&gt;&gt; Melaporkan Data Hasil Produksi (copy) </a> </td>
																				<td> <a href="../elements/id-d71411e7eaf44108a1a30cc5f51f19cd.html" target="element"> &lt;&lt;PKG&gt;&gt; MEC &amp; Pelaporan Bulanan (copy) </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>